<h1  class="center">New News Feed</h1>
  <h2 class="Sub">interesting subtitle</h2>
  
  <body>
    <img class="image" src="https://www.starwarsnewsnet.com/wp-content/uploads/2017/07/Inferno-Squad_Spoiler-Review.png" alt="" width="500" height="393" srcset="https://www.starwarsnewsnet.com/wp-content/uploads/2017/07/Inferno-Squad_Spoiler-Review.png 868w, https://www.starwarsnewsnet.com/wp-content/uploads/2017/07/Inferno-Squad_Spoiler-Review-300x236.png 300w, https://www.starwarsnewsnet.com/wp-content/uploads/2017/07/Inferno-Squad_Spoiler-Review-768x603.png 768w" sizes="(max-width: 500px) 100vw, 500px">
    <h3 class="center">Inferno Squad Resurfaces After 30 Years Missing</h3>
      
      <img class="image" src="https://vignette3.wikia.nocookie.net/starwars/images/0/09/FOSpecForcesTIE1-Fathead.png/revision/latest?cb=20161109002850">
      <h3 class="center">The First Order Deploys New SpecOps Tie fighter To "Combat The Growing Threat Of The New Republic"</h3>
  </body>